/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: black;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

.clearfix {
  content: " ";
  display: block;
  clear: both;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #666;
}

#left {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #30948D;
  float: left;
}

#middle {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #9E1212;
  float: left;
}

#right {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #30948D;
  float: left;
}


#full {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #394549;
}

#division {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #6ea3da;
}

aside {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #a6b747;
  height: 200px;
  width: 150px;
}

footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}
